body {
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: Arial, Helvetica, sans-serif;
}

ul {
   list-style-type: none;
   display: flex;
   gap: 16px;
}

a {
   text-decoration: none;
   color: #e5e7eb;
}

button {
   color: #f9faf8;
   background-color: #3882f6;
   border-radius: 8px;
   border-style: none;
   font-weight: bold;
   width: 120px;
   height: 40px;
   cursor: pointer;
}

.header, .footer {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #1f2937;
   color: #f9faf8;
}

.header {
   font-size: 24px;
}

.header a {
   font-size: 18px;
   color: #e5e7eb;
}

.footer {
   margin-top: auto;
   height: 96px;
}


.intro, .info, .quote, .prompt {
   padding: 56px 10%;
}

.intro {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #1f2937;
}


.intro-description h1 {
   font-size: 48px;
   font-weight: bolder;
   color: #f9faf8;
}

.intro-description p {
   font-size: 18px;
   color: #e5e7eb;
}

.intro-description {
   display: flex;
   width: 500px;
   flex-direction: column;
   gap: 10px;
}

.intro-description > * {
   margin: 0;
}

.intro-pic {
   background-color: #4f4f4f;
   color: white;
   text-align: center;
   width: 40%;
   height: auto;
}

.info {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info-panelist {
   display: flex;
   justify-content: space-between;
   gap: 56px;
}

.info-pane {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
}

.info-pane > * {   
   width: 150px;
   margin-bottom: 0;
}

.info-pane > div.info-ph {
   height: 150px;
   border-color: #3882f6;
   border-radius: 8px;
   border-style: solid;
   border-width: 3px;
}

.quote {
   background-color: #e5e7eb;
   font-size: 36px;
   font-style: italic;
   color: #1f2937;
}

.quote > * {
   padding: 0 56px;
   margin: 0;
}

.quote h6 {
   text-align: end;
   font-style: normal;
}

.prompt {
   background-color: white;
}

.prompt-box {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   gap: 56px;
   background-color: #3882f6;
   color: #f9faf8;
   border-radius: 8px;
}

.prompt-box button {
   border-style: solid;
   border-width: 1px;
   border-color: #e5e7eb;
}

.prompt-info {
   margin: 30px;
}

.prompt-info > * {
   margin: 0;
}